@using PruebaParaEntender.Models

<p>Ingresa el nombre del producto que desea </p>
<div class="text-center">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="text-center">
            <input type="text" class=" form-control" name="Nombre" placeholder="Introducir Nombre" />
            <input type="submit" value="Buscar" />
        </div>
    }
    <div>
        <h3>@ViewBag.MyMessage</h3>
    </div>
</div>

